<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="db.billingdb.dao.custom.ItemReportMapper">
<!-- 	<resultMap id="ItemMap" type="db.billingdb.model.custom.Item"> -->
<!-- 		<result column="i_id" property="id" jdbcType="INTEGER" /> -->
<!-- 		<result column="i_internal" property="internal_number" -->
<!-- 			jdbcType="VARCHAR" /> -->
<!-- 		<result column="p_price" property="price" jdbcType="DOUBLE" /> -->
<!-- 		<result column="c_code" property="code" jdbcType="VARCHAR" /> -->
<!-- 		<result column="d_content" property="desc" jdbcType="VARCHAR" /> -->
<!-- 	</resultMap> -->

	<resultMap id="ItemReportMap" type="db.billingdb.model.custom.ItemReport">
		<result column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="desc" property="itemDescription" jdbcType="VARCHAR" />
		<result column="qnt" property="quantity" jdbcType="INTEGER" />
		<result column="num_orders" property="orderCount" jdbcType="INTEGER" />
		<result column="amount" property="amount" jdbcType="DOUBLE" />
	</resultMap>

	<sql id="item_columns">
		i.id as i_id,
		i.internal_number as i_internal,
		p.price as
		p_price,
		c.code as c_code,
		d.content as d_content
	</sql>

	<sql id="item_tables">
		item i, item_price p,
		currency c,
		international_description d
	</sql>

<!-- 	<select id="listItems" resultMap="ItemMap"> -->
<!-- 		SELECT -->
<!-- 		<include refid="item_columns" /> -->
<!-- 		FROM -->
<!-- 		<include refid="item_tables" /> -->
<!-- 		WHERE -->
<!-- 		i.id=p.item_id -->
<!-- 		AND p.currency_id=c.id -->
<!-- 		AND i.deleted=0 -->
<!-- 		AND -->
<!-- 		i.id=d.foreign_id -->
<!-- 		AND d.table_id=14 -->
<!-- 	</select> -->

	<sql id="item_report_columns">
		rpt.item_id item_id,
		rpt.description 'desc',
		sum(subqnt) qnt,
		count(distinct sub_ord_cnt) num_orders,
		(sum(sub_amt)
		<if test="vatRate != 0">
			* (1.0 - #{vatRate,jdbcType=DOUBLE})
		</if>
		) as amount
	</sql>

	<select id="getItemReport" resultMap="ItemReportMap"
		parameterType="db.billingdb.model.custom.ItemReportCondition">
		SELECT
		<include refid="item_report_columns" />
		FROM
		(SELECT
		i_0.*,
		i_0.quantity as subqnt,
		op.order_id as sub_ord_cnt,
		i_0.amount + if(i_1.price is null, 0, (i_0.amount * if(i_1.price is
		null, - 1,
		sum(i_1.price) / 100)))
		as sub_amt
		FROM
		invoice_line i_0
		Left
		outer join
		order_process op ON
		i_0.invoice_id=op.invoice_id
		Left outer
		join
		invoice_line i_1 ON
		i_0.invoice_id=i_1.invoice_id
		AND
		i_0.item_id not
		in
		(SELECT it.id from
		item it WHERE it.percentage is not null)
		AND
		i_1.item_id not in
		(SELECT
		it.id from
		item it WHERE it.percentage is
		null
		)
		WHERE
		<if test="itemIds != null and itemIds.size > 0">
			i_0.item_id in 
			<foreach item="item" index="index" collection="itemIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
			AND
		</if>
		i_0.invoice_id in
		(SELECT
		inv.id
		FROM
		invoice inv
		WHERE
		<trim prefix="(" suffix=")" prefixOverrides="AND">
			<if test="startDate != null">
				and inv.create_datetime &gt;=
				#{startDate,jdbcType=TIMESTAMP}
			</if>
			<if test="endDate != null">
				and inv.create_datetime &lt;=
				#{endDate,jdbcType=TIMESTAMP}
			</if>
			<if test="currencyId != 0">
				AND inv.currency_id = #{currencyId,jdbcType=INTEGER}
			</if>
			<choose>
				<when test="userId != 0">
					AND inv.user_id = #{userId,jdbcType=INTEGER}
				</when>
				<otherwise>
					<if test="city != 0">
						AND inv.user_id in (SELECT
						con.user_id
						FROM
						contact con
						WHERE
						con.city = #{city,jdbcType=INTEGER})
					</if>
				</otherwise>
			</choose>
			AND
			<choose>
				<when test="deleted">
					inv.deleted = 1
				</when>
				<otherwise>
					inv.deleted = 0
				</otherwise>
			</choose>
		</trim>
		AND inv.is_review = 0
		)
		group by
		i_0.invoice_id,
		i_0.item_id) rpt
		group by
		rpt.item_id;
	</select>
</mapper>
