<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="db.billingdb.dao.custom.UserReportMapper">
	<resultMap id="SimpleUserMap" type="db.billingdb.model.custom.SimpleUser">
		<result column="user_id" property="id" jdbcType="INTEGER" />
		<result column="fullname" property="fullname" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="UserInfoMap" type="db.billingdb.model.custom.info.UserInfo"
		extends="SimpleUserMap">
		<result column="city" property="city" jdbcType="INTEGER" />
		<result column="install_time" property="installationDate"
			jdbcType="TIMESTAMP" />
		<result column="username" property="username" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="OutstandingMap" type="db.billingdb.model.custom.OutstandingUser">
		<result column="user_id" property="id" jdbcType="INTEGER" />
		<result column="balance" property="balance" jdbcType="DOUBLE" />
	</resultMap>

	<resultMap id="UserPaymentsMap" type="db.billingdb.model.custom.OutstandingUser">
		<result column="user_id" property="id" jdbcType="INTEGER" />
		<result column="payments" property="balance" jdbcType="DOUBLE" />
		<association property="userInfo" resultMap="UserInfoMap" />
	</resultMap>

	<resultMap id="CustomerMap" type="db.billingdb.model.custom.Customer"
		extends="UserInfoMap" />

	<select id="getPartnersListByCity" resultMap="SimpleUserMap"
		parameterType="int">
		select
		urm.user_id 'user_id',
		cf.content 'fullname'
		from
		user_role_map urm
		join contact c on urm.role_id = 4 AND c.user_id = urm.user_id AND
		c.deleted = 0
<!-- 		<if test="city != 0"> -->
<!-- 			AND c.city = #{city, jdbcType=INTEGER} -->
<!-- 		</if> -->
		join contact_field cf on cf.contact_id = c.id AND cf.type_id = 432
	</select>

	<select id="getSalesmenListByCity" resultMap="SimpleUserMap"
		parameterType="int">
		select
		urm.user_id 'user_id',
		cf.content 'fullname'
		from
		user_role_map urm
		join contact c on urm.role_id = 9 AND c.user_id = urm.user_id AND
		c.deleted = 0
<!-- 		<if test="city != 0"> -->
<!-- 			AND c.city = #{city, jdbcType=INTEGER} -->
<!-- 		</if> -->
		join contact_field cf on cf.contact_id = c.id AND cf.type_id = 432
	</select>

	<select id="getUserInfoByIDs" resultMap="UserInfoMap">
		select c.user_id 'user_id',
		cf.content 'fullname',
		cf1.content
		'username',
		STR_TO_DATE(cf2.content, '%m/%d/%y') 'install_time',
		c.city
		'city'
		from
		contact c
		join
		contact_field cf on
		cf.contact_id = c.id and
		cf.type_id = 432
		join
		contact_field cf1 on
		cf1.contact_id = c.id and
		cf1.type_id = 434
		join
		contact_field cf2 on
		cf2.contact_id = c.id and
		cf2.type_id = 436
		where
		c.user_id in
		<foreach item="user" index="index" collection="list" open="("
			separator="," close=")">
			#{user}
		</foreach>
	</select>

	<select id="getUsersByName" resultMap="SimpleUserMap"
		parameterType="map">
		select
		c.user_id user_id,
		cf.content fullname
		from
		contact c,
		contact_field cf
		Where
		cf.contact_id = c.id
		<if test="city != 0">
			AND c.city = #{city, jdbcType=INTEGER}
		</if>
		AND
		cf.type_id = 432
		AND
		cf.content like #{name, jdbcType=VARCHAR}
	</select>

	<select id="getActiveUsers" parameterType="Date">
		select
		distinct
		po.user_id
		from
		purchase_order po
		where
		po.active_until &gt;
		#{date,
		jdbcType=TIMESTAMP}
		order by po.active_until desc
	</select>

	<select id="getAllCustomers" resultMap="CustomerMap">
		select
		urm.user_id
		'user_id',
		c.city 'city',
		cf2.content 'username',
		cf1.content 'fullname'
		from
		user_role_map urm
		join contact c on urm.role_id = 5 AND c.user_id =
		urm.user_id AND
		c.deleted = false
		join contact_field cf1 on
		cf1.contact_id = c.id AND cf1.type_id = 432
		join contact_field cf2 on
		cf2.contact_id = c.id AND cf2.type_id = 434
	</select>

	<select id="getOutstandingUsers" resultMap="OutstandingMap"
		parameterType="db.billingdb.model.custom.OutstandingUserCondition">
		select
		cc.id user_id,
		(invoice_balance - payment_balance)
		balance
		from (
		select
		i.user_id
		id,
		sum(balance) invoice_balance,
		ifnull(v.payment_balance, 0)
		payment_balance
		from
		invoice i left join
		(select
		user_id, sum(balance) as
		payment_balance
		from
		payment
		where
		deleted
		= 0
		and
		user_id in (select
		b.id
		from
		base_user b
		where
		b.entity_id = 1
		<if test="currencyId != 0">
			AND b.currency_id = #{currencyId,jdbcType=INTEGER}
		</if>
		and
		<choose>
			<when test="deleted">
				b.deleted = 1
			</when>
			<otherwise>
				b.deleted = 0
			</otherwise>
		</choose>
		)
		group by user_id) v
		on
		i.user_id = v.user_id where
		i.deleted = 0 and
		i.user_id in (select
		b.id
		from
		base_user b
		where
		b.entity_id = 1
		<if test="currencyId != 0">
			AND b.currency_id = #{currencyId,jdbcType=INTEGER}
		</if>
		and
		<choose>
			<when test="deleted">
				b.deleted = 1
			</when>
			<otherwise>
				b.deleted = 0
			</otherwise>
		</choose>
		)
		group by i.user_id
		union
		select
		i.user_id id,
		sum(balance)
		invoice_balance, ifnull(v.payment_balance, 0)
		payment_balance
		from
		invoice i right join (select
		user_id, sum(balance)
		as payment_balance
		from
		payment
		where
		deleted = 0
		and
		user_id in (select
		b.id
		from
		base_user b
		where
		b.entity_id = 1
		<if test="currencyId != 0">
			AND b.currency_id = #{currencyId,jdbcType=INTEGER}
		</if>
		and
		<choose>
			<when test="deleted">
				b.deleted = 1
			</when>
			<otherwise>
				b.deleted = 0
			</otherwise>
		</choose>
		)
		group by user_id) v
		on
		i.user_id = v.user_id where
		i.deleted = 0 and
		i.user_id in (select
		b.id
		from
		base_user b
		where
		b.entity_id = 1
		<if test="currencyId != 0">
			AND b.currency_id = #{currencyId,jdbcType=INTEGER}
		</if>
		and
		<choose>
			<when test="deleted">
				b.deleted = 1
			</when>
			<otherwise>
				b.deleted = 0
			</otherwise>
		</choose>
		)
		group by v.user_id
		) cc
		<if test="city != 0">
			join contact c on c.user_id =
			cc.id
			AND c.city =
			#{city,jdbcType=INTEGER}
		</if>
		where (invoice_balance - payment_balance) > 0;
	</select>

	<select id="getUserPayments" resultMap="UserPaymentsMap"
		parameterType="db.billingdb.model.custom.UserPaymentCondition">
		select
		c.user_id 'user_id',
		cf.content 'fullname',
		cf1.content
		'username',
		STR_TO_DATE(cf2.content, '%m/%d/%y') 'install_time',
		c.city
		'city',
		(sum(i.total)
		<if test="vatRate != 0">
			* (1.0 - #{vatRate,jdbcType=DOUBLE})
		</if>
		) 'balance'
		from
		contact c
		join
		invoice i ON i.user_id = c.user_id
		AND
		i.deleted = 0
		AND
		i.is_review = 0
		AND i.status_id = 27
		<if test="currencyId != 0">
			AND i.currency_id = #{currencyId,jdbcType=INTEGER}
		</if>
		<if test="startDate != null">
			and i.create_datetime &gt;=
			#{startDate,jdbcType=TIMESTAMP}
		</if>
		<if test="endDate != null">
			and i.create_datetime &lt;=
			#{endDate,jdbcType=TIMESTAMP}
		</if>
		join
		contact_field cf ON
		cf.contact_id = c.id
		AND cf.type_id = 432
		join
		contact_field cf1 ON
		cf1.contact_id = c.id
		AND cf1.type_id = 434
		join
		contact_field cf2 ON
		cf2.contact_id = c.id
		AND cf2.type_id = 436
		<if test="partnerId != 0">
			join
			contact_field cf3 on
			cf3.contact_id = c.id
			AND
			cf3.type_id = 435
		</if>
		<if test="salesmanId != 0">
			join
			contact_field cf4 on
			cf4.contact_id = c.id
			AND
			cf4.content = 443
		</if>
		<if test="city != 0 or partnerId != 0 or salesmanId != 0">
			<where>
				<trim prefix="(" suffix=")" prefixOverrides="and">
					<if test="city != 0">
						AND c.city = #{city, jdbcType=INTEGER}
					</if>
					<if test="partnerId != 0">
						AND
						cf3.content = #{partnerId, jdbcType=INTEGER}
					</if>
					<if test="salesmanId != 0">
						AND
						cf4.content = #{salesmanId, jdbcType=INTEGER}
					</if>
				</trim>
			</where>
		</if>
		group by c.user_id
		order
		by
		sum(i.total)
		<if test="isDescending">
			desc
		</if>
	</select>

</mapper>
